      @charset "UTF-8";
      html {
      /* 組み方向 */
      -epub-writing-mode: horizontal-tb;
      -ms-writing-mode: tb-lr;
      writing-mode: horizontal-tb;
  
      orphans: 1;
      widows: 1;
      }
  
      * {
      margin: 0;
      padding: 0;
      }
  
      @page {
      /*size: 130mm 190mm;
      width: calc(98mm + 0.2mm);
      height: calc(140mm + 0.2mm);*/
      /*margin-top: 20mm;*/
      /*margin-bottom: auto;*/
      /*margin-left: auto;*/
      /*margin-right: auto;*/
      /* 以下、マージンボックスに継承される */
      /*font-size: 10pt;*/
      font-family: "游明朝", "YuMincho", serif;
      /* 本来不要（<span class="smaller"><span class="smaller">ルート要素の指定が継承される</span></span>）だが、現時点のvivliostyle.jsの制限により必要 */
      vertical-align: top;
      }
  
  
      html {
      font-family: "游明朝", "YuMincho", serif;
      font-weight: Medium;
      text-align: justify;
      }
  
      body{
      -webkit-writing-mode: horizontal-tb;
      /* -epub-writing-mode: tb-rl; */
      writing-mode: horizontal-tb;
      -webkit-text-orientation: mixed;
      -epub-writing-mode: horizontal-tb;
      -epub-text-orientation: mixed;
      text-orientation: mixed;
      }
  
      div#draft{

      }

      h1 {
      /* フォント */
      font-weight: Extrabold;
    	font-family: "OPTIEdgarBold-Extended", san-serif; 
      /* フォントサイズ */
      /*font-size: 24q;*/
      /* 字下げ */
      text-indent: 0;
      /* 直後の改ページ・改段禁止 */
      page-break-before: always;
      page-break-after: always;
      line-height: 42q;
      letter-spacing: 0.25em;
      display: flex;
      align-items: left;
      }
  
      h2 {
      /* フォント */
      font-weight: Extrabold;
      font-family: "OPTIEdgarBold-Extended", san-serif; 
      /* フォントサイズ */
      /*font-size: 16q;*/
      /* 字下げ */
      /*text-indent: 3em;*/
      /* 直後の改ページ・改段禁止 */
      page-break-before: avoid;
      page-break-after: avoid;
      /*line-height: 42q;*/
      /*margin-left: 2em;*/
      align-items: left;
      }
  
      h2.part {
      width: 80mm;
      padding: 0mm 35mm;
      font-weight: bold;
      /*font-size: 16q;*/
      page-break-before: always;
      page-break-after: always;
      margin-left: 4em;
      }

      h2.title { 
        text-align: left; 
        font-family: "OPTIEdgarBold-Extended", san-serif; 
          font-size: 18px;
          margin-bottom: 5ex;
          margin-top: 5ex;
          /*float: left;*/
          /*line-height: 1;*/
        color: #eeeeee;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
      }
  
      h1 + h2 {
      margin-right: 16pt;
      }
  
      ruby > rt {
      /*font-size: 6.5q;*/
      }
  
      p {
        /*font-size: 4mm;*/
        line-height: 1.75;
        /*height: calc(3.5mm * 40 + 0.5mm);*/
        text-indent: 0em;
        hanging-punctuation: force-end;
        line-break:strict;
        page-break-inside: auto;
      }

    div.indent-1 p:first-of-type, div.indent-2 p:first-of-type, div.indent-3 p:first-of-type{
      padding-block-start: calc( 3.5mm * 1.75);
      }

      div.indent-1 p:last-of-type, div.indent-2 p:last-of-type, div.indent-3 p:last-of-type{
      padding-block-end: calc( 3.5mm * 1.75);
      }

    
    div.indent-1 p{
    height: calc( 110mm - (100vh * 0.025));
    padding-top: calc( 3.5mm);
    }

    div.indent-2 p{
    height: calc( 110mm - (100vh * 0.025 * 2));
    padding-top: calc(3.5mm * 2);
    }

    div.indent-3 p{
    height: calc( 110mm - (3.5mm * 3));
    padding-top: calc(3.5mm * 3);
    }

    p.goth {
    margin-top: 3em;
    font-family: "游ゴシック", "YuGothic", san-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    }

    p.align-rb {
    text-align: right;
    }

    p.goth + p.goth {
    margin-block-start: -1em;
    }

    div.codes {
    display: inline-block;
    margin: 3em 1em;
    writing-mode: horizontal-tb;
    padding: 1em;
    font-family: "Courier", monospace;
    font-size: 0.8em;
    }
  
    div.codes p {
    text-orientation: sideways;
    }

    p.star {
    text-indent: 3em;
    margin-right: 16pt;
    margin-left: 16pt;
    }

    hr {
    border: none;
    border-right: 1pt solid black;
    height: 6em;
    margin: auto 8.5pt;
    }

    /* 縦中横 */
    .tcy {
    -webkit-text-combine: horizontal;
    text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-horizontal: digit 2;
    text-combine-upright: digit 2;
    }

    /* 圏点（<span class="smaller">ゴマ</span>） */
    em.side-dot, em.sesame_dot {
    font-style: normal;
    -webkit-text-emphasis-style: sesame;
    text-emphasis-style: sesame;
    margin-right: -1em;
    display: inline-block;
    }

    /*著作者*/
    .author {
    position: absolute;
    bottom: 0;
    font-size: 8.5pt;
    margin-top: 50pt;
    letter-spacing: normal;
    }

    /*画像＋キャプション*/
    figure {
    display: block;
    width: 236pt;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    }

    figure img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    }

    figcaption {
    text-align: left;
    font-size: 7pt;
    }

    /*奥付*/
    .colophon {
    font-size: 7pt;
    margin-right: 48pt;
    }
    /* 級さげ */
    span.smaller{
        font-size:6.5pt
    }
  
    div.comment {
        display:none;
    }

    p.blank {
        color:transparent;
        visibility:hidden
    }